body{
    text-align: center;
    background: linear-gradient(rgb(231, 56, 33), rgb(40, 160, 230));
    height: 100vh;
    transition: 1s;
}
body:hover{
    background: linear-gradient(rgb(86, 33, 231), rgb(230, 40, 182));
    transition: 1s;
}
#grille{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    margin: auto;
}
.case{
    border: 3px solid black;
    height: 100px;
    line-height: 100px;
    font-size: 60px;
}
.case:hover{
    background-color: crimson;
}

#recommencer{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: silver;
}
#recommencer:hover{
    background-color: tomato;
}
